In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("Data-1401-Grades.csv")
!wc -l Data-1401-Grades.csv
!tail -179 Data-1401-Grades.csv
!tail -179 Data-1401-Grades.csv > Data-1401-Grades-Fixed.csv
!cat Data-1401-Grades-Fixed.csv

179 Data-1401-Grades.csv
Lab 1,Lab 2,Lab 3,Lab 4,Exam 1,Lab 5,,Lab 7,Exam 2
,0,0,,0,0,0,0,0
no solution,no solution,-did not submit the Lab,,did not submit the exam,,,,
100,96,46,,68-sent,,,,
Completed the lab,"ex4- attempted,wrong solution -2
ex8 -wrong solution(sequence not correct) -2","ex1 - Nameerror get_size() is not defined(-2)
ex2 - returns -1 for all conditions, does not test for all conditions.(-3)
ex3 - does not construct board(-5)
ex4 - does not construct the board (-5)
ex5 - does not construct the board (-5)
ex6 - does not construct the board (-5)
ex7 - no construction of board (-5)
ex8-not attempted
ex9-not attempted
ex10 - does not create board for 5*5 (-4)
ex11 - not attempted ",,"q1c - does not return the list instead returns the range(-5)
q2 - output is wrong, output should had been [4, 5, 60],
[8, 10, 120],[12, 15, 180] (-5)
q3a - should be in a list format (-2)
q3b - Just generated the histogram.output does not have x90 value.(-10)
q4a - should return the highest card instead of True for flush(), Straight(), straight_flush()(-6)
q4b - three_of_a_kind(), pair() returns None even for the condition being True(-4)",,,,
100,100,90,,88-sent,,,,
Completed the lab,"Completed the whole lab
","ex10 - not attempted (-10)
ex11 - not attempted","ex8-not attempted
ex9- not attempted","note - try to use better variable names
q3b - does not calculate x90 (-8)
q4a - flush() is working perfectly,straight() & straight_flush() does not work with condition True (-4)",,,,
93,100,24,,96-sent,,,,
"ex4 - attempted, wrong answer(-2)
ex5c - not attempted(-5)",Completed the whole lab,"ex2 - returns 1 for winner_2, returns 1 for no winner instead of -1(-2)
ex3 -  does not construct board for other cases (-4)
ex4-not attempted
ex5- not attempted
ex6-not attempted
ex7-not attempted
ex8-not attempted
ex9-not attempted
ex10-not attempted
ex11 - not attempted",,"note- try not to use names which are built-in functions in python(eg- min)
q3b- does not calculate x90, made integral funciton but never ran it. (-4)",,,,
0,81,0,0,43-sent,,,,
no solution,"ex2-attempted(empty list) -2
ex3 - no solution -5
ex4 -not in proper format(list) -2
ex7 - no solution -5
ex10 - no solution -5",- did not submit the lab,-did not submit the lab,"q1b - returns the index 0 instead of 23 as mentioned in the question (-3)
q2 - no attempt (-25)
q3a,q3b - no attempt (-25)
q4a - straight(), straight_flush() should return None instead of False,return highest card instead of True for straight() (-4)",,,,
95,100,105,,96-sent,,,,
-ex5c missing(-5)                  ,Completed the whole lab,"ex5 - does not draw board (-5)
ex11 - +10",,"q4b - Implementation correct , gives NameError 'h' not defined while running the code
(-4)",,,,
100,98,87,,89-sent,,,,
completed the lab,"ex10 - attempted, solution wrong(nameerror-guess not defined) -2","ex2 - flips for condition 'also_no_winner' returns 2 instead of 0(-2)
ex3 - does not construct board as given in ques (-4)
ex4 - creates 3 * 2 board for ""also_no_winner"" instead of 3*3 (-3)
ex5 - does not create row C for ""also_no_winner"" (-2)
ex8 - Nameerror ""move_good"" (-2)
ex11 - not attempted",,"q3a - did not print the result(-2)
q3b- solution incomplete. Output close but not correct. (-5)
q4a - Gives the second highest value on straight() (-2)
q4b - Implementation does not seem right, wrong output for three_of_a_kind,pair() (-2)",,,,
95,98,50,,52,,,,
-ex5c missing(-5),"ex8 - wrong solution, sequence should be 1,1,.. -2
","ex1 - works for only 1 condition, does not return the expected output(-6)
ex4- does not construct the board fully (-3)
ex5 - Typeerror (-5)
ex7-not attempted
ex8-not attempted
ex9-not attempted
ex10-not attempted
ex11 - not attempted",,"q1a,q1b,q1c - incomplete function. Does not have any function in all three parts of question. (-25)
q2 - wrong logic, solution (-8)
q3b- solution incomplete, does not calculate the value of x90 (-6)
q4a - flush() returns letter instead of highest card, straight() returns True instead of highest card, straight_flush() returns letter instead of highest card (-5)
q4b - does not work for pair(), returns None for True condition (-4)",,,,
95,96,98,,100-sent,,,,
-ex5c missing(-5),"ex8 - should start from 1 as given in the question -2
ex10 - generates an invalid response on entering a number -2","ex5 - does not return True or False(-2)
ex11 - not attempted",,excellent,,,,
0,78,37,,67,,,,
no solution,"ex1 - 1 function(odd) missing -2
ex2 - no solution -5
ex3 - wrong solution -2
ex4 - should be a list -2
ex5 - return a list -2
ex7 - no solution -5
ex8 - attempted, sequence missing -2
ex9 - nameerror(string not defined) -2","ex1 - Nameerror ""game_board"" not defined (-2)
ex2 - does not work for most of the test cases (-4)
ex3 - does not construct board correctly(-3)
ex4-not attempted
ex5-not attempted
ex6-not attempted
ex7-not attempted
ex8-not attempted
ex9 - does not use the notation A2, C1,etc, or constructs the board(-4)",,"-Late submission -10
q1b - Nameerror  (-3)
q3b - NameError: name 'data' is not defined, does not calculate the value of x90 (-8)
q4a - flush() gives error instead of returning the highest value card, straight() returns False instead of None, straight_flush() gives nameerror ""stright"" not defined(-6)
q4b - Nameerror in both the functions pair and three_of_kind, values not defined correctly, variables not initiated properly(-6)",,,,
0,76,,,0,,,,
no solution,"ex1 - syntax error -2
ex3 - wrong solution -2
ex4 - wrong solution -2
ex5 - wrong solution -2
ex6 - syntax error -2
ex7 - no solution -5
ex8 - attempted no solution -2
ex9 - Typerror -2
ex10 - no solution -5
",,,-did not submit the exam,,,,
95,89,0,0,66-sent,,,,
ex 5c missing(-5),"ex7 - condition not working on rock and scissors -2
ex8-  sequence should have started from 1 as given in the question. -2
ex9 - no solution -5
ex10 - wrong solution, user should have been given the input if number is higher or lower -2",-did not submit the Lab,-did not submit the Lab,"q2- should not be using numpy(built in functions) -5
q3b- no value of x90, made q6 function but never used. (-4)
q4a - not attempted(-12.5)
q4b - not attempted(-12.5)",,,,
98,94,35,,96-sent,,,,
ex 4 attempted but not correct(-2),"ex3 - wrong solution(attempted) -2
ex4 - wrong solution(not generating correct list) -2
ex7 - NameError: name 'py1' is not defined -2","ex2 - does not return  -1, 0, 1, or 2 , returns None (-5)
ex4 - Syntax Error (-2)
ex4 - NameError: name 'insertLetter' is not defined(-2)
ex5 - Incomplete function (-6)
ex6- not attempted
ex7- not attempted
ex8- not attempted
ex9- not attempted
ex10- not attempted
ex11 - not attempted",,"q2- Right logic but not commented well, comment out the lines properly (-2)
q4b - three_of_kind gives None for True condition (-2)",,,,
93,77,23,,64-sent,,,,
"ex3 attempted no solution, 5c missing(-7)","ex3 - should have taken list of numbers as in q2  -2
ex4 - attempt, wrong solution(should include 1 as divisor) -2
ex6 - should have given True for the palindrome string -2
ex7 - no solution -5
ex8 - sequence should have started from 1 as given in the question -2
ex9 - no solution -5
ex10 - no solution -5
","ex2 - returns 1 instead of 0 for ""no_winner"" (-2)
ex3 - gives Index Error, function incomplete (-5)
ex4-not attempted
ex5-not attempted
ex6-not attempted
ex7-not attempted
ex8-not attempted
ex9- not attempted
ex10-not attempted
ex11 - not attempted","ex7 -not attempted
ex8- not attempted
ex9- not attempted","q1a - You had to return just the string ""Alabama"" and not the whole list (-2)
q3b - not attempted(-12.5)
q4a,q4b - only flush function attempted(-7)
q4b - not attempted (-12.5)",,,,
100,96,88,,64-sent,,,,
completed,"ex8 - Sequence should have started from 1 as given in the question -2
ex10 - invalid response -2
ex8,ex5,ex7,ex10 - solution exactly same as Will Anderson(git commit 13days ago)","ex5 - does not return True or False(-2)
ex9 - game not implemented (-5)
ex10 - game not implemented, only board created (-5)
solution matches with another student Will Anderson",,"q1a - return just the string, not in list format(-2)
q1b - throwing valueerror (-3)
q2 - its  two 1-dimensional list multiplication and what you did is multiplication of 2d matrix (-15)
q3b- not correct, gives NameError(-6)
q4a - string in hand is not working for any of the functions (-6)
q4b -  No output, giving Typeerror(-4)",,,,
95,94,60,,98-sent,,,,
ex 5c missing(-5),"ex3 - incomplete function -3
ex10 - incomplete function -3","ex7- not attempted
ex8- not attempted
ex9- not attempted
ex10- not attempted

Completed the lab,"ex4- attempted,wrong solution -2
ex8 -wrong solution(sequence not correct) -2","ex1 - Nameerror get_size() is not defined(-2)
ex2 - returns -1 for all conditions, does not test for all conditions.(-3)
ex3 - does not construct board(-5)
ex4 - does not construct the board (-5)
ex5 - does not construct the board (-5)
ex6 - does not construct the board (-5)
ex7 - no construction of board (-5)
ex8-not attempted
ex9-not attempted
ex10 - does not create board for 5*5 (-4)
ex11 - not attempted ",,"q1c - does not return the list instead returns the range(-5)
q2 - output is wrong, output should had been [4, 5, 60],
[8, 10, 120],[12, 15, 180] (-5)
q3a - should be in a list format (-2)
q3b - Just generated the histogram.output does not have x90 value.(-10)
q4a - should return the highest card instead of True for flush(), Straight(), straight_flush()(-6)


Completed the lab,"Completed the whole lab
","ex10 - not attempted (-10)
ex11 - not attempted","ex8-not attempted
ex9- not attempted","note - try to use better variable names
q3b - does not calculate x90 (-8)


"ex4 - attempted, wrong answer(-2)
ex5c - not attempted(-5)",Completed the whole lab,"ex2 - returns 1 for winner_2, returns 1 for no winner instead of -1(-2)
ex3 -  does not construct board for other cases (-4)
ex4-not attempted
ex5- not attempted
ex6-not attempted
ex7-not attempted
ex8-not attempted
ex9-not attempted
ex10-not attempted
ex11 - not attempted",,"note- try not to use names which are built-in functions in python(eg- min)


no solution,"ex2-attempted(empty list) -2
ex3 - no solution -5
ex4 -not in proper format(list) -2
ex7 - no solution -5
ex10 - no solution -5",- did not submit the lab,-did not submit the lab,"q1b - returns the index 0 instead of 23 as mentioned in the question (-3)
q2 - no attempt (-25)
q3a,q3b - no attempt (-25)


-ex5c missing(-5)                  ,Completed the whole lab,"ex5 - does not draw board (-5)
ex11 - +10",,"q4b - Implementation correct , gives NameError 'h' not defined while running the code


completed the lab,"ex10 - attempted, solution wrong(nameerror-guess not defined) -2","ex2 - flips for condition 'also_no_winner' returns 2 instead of 0(-2)
ex3 - does not construct board as given in ques (-4)
ex4 - creates 3 * 2 board for ""also_no_winner"" instead of 3*3 (-3)
ex5 - does not create row C for ""also_no_winner"" (-2)
ex8 - Nameerror ""move_good"" (-2)
ex11 - not attempted",,"q3a - did not print the result(-2)
q3b- solution incomplete. Output close but not correct. (-5)
q4a - Gives the second highest value on straight() (-2)


-ex5c missing(-5),"ex8 - wrong solution, sequence should be 1,1,.. -2
","ex1 - works for only 1 condition, does not return the expected output(-6)
ex4- does not construct the board fully (-3)
ex5 - Typeerror (-5)
ex7-not attempted
ex8-not attempted
ex9-not attempted
ex10-not attempted
ex11 - not attempted",,"q1a,q1b,q1c - incomplete function. Does not have any function in all three parts of question. (-25)
q2 - wrong logic, solution (-8)
q3b- solution incomplete, does not calculate the value of x90 (-6)
q4a - flush() returns letter instead of highest card, straight() returns True instead of highest card, straight_flush() returns letter instead of highest card (-5)


-ex5c missing(-5),"ex8 - should start from 1 as given in the question -2
ex10 - generates an invalid response on entering a number -2","ex5 - does not return True or False(-2)


no solution,"ex1 - 1 function(odd) missing -2
ex2 - no solution -5
ex3 - wrong solution -2
ex4 - should be a list -2
ex5 - return a list -2
ex7 - no solution -5
ex8 - attempted, sequence missing -2
ex9 - nameerror(string not defined) -2","ex1 - Nameerror ""game_board"" not defined (-2)
ex2 - does not work for most of the test cases (-4)
ex3 - does not construct board correctly(-3)
ex4-not attempted
ex5-not attempted
ex6-not attempted
ex7-not attempted
ex8-not attempted
ex9 - does not use the notation A2, C1,etc, or constructs the board(-4)",,"-Late submission -10
q1b - Nameerror  (-3)
q3b - NameError: name 'data' is not defined, does not calculate the value of x90 (-8)
q4a - flush() gives error instead of returning the highest value card, straight() returns False instead of None, straight_flush() gives nameerror ""stright"" not defined(-6)


no solution,"ex1 - syntax error -2
ex3 - wrong solution -2
ex4 - wrong solution -2
ex5 - wrong solution -2
ex6 - syntax error -2
ex7 - no solution -5
ex8 - attempted no solution -2
ex9 - Typerror -2
ex10 - no solution -5


ex 5c missing(-5),"ex7 - condition not working on rock and scissors -2
ex8-  sequence should have started from 1 as given in the question. -2
ex9 - no solution -5
ex10 - wrong solution, user should have been given the input if number is higher or lower -2",-did not submit the Lab,-did not submit the Lab,"q2- should not be using numpy(built in functions) -5
q3b- no value of x90, made q6 function but never used. (-4)
q4a - not attempted(-12.5)


ex 4 attempted but not correct(-2),"ex3 - wrong solution(attempted) -2
ex4 - wrong solution(not generating correct list) -2
ex7 - NameError: name 'py1' is not defined -2","ex2 - does not return  -1, 0, 1, or 2 , returns None (-5)
ex4 - Syntax Error (-2)
ex4 - NameError: name 'insertLetter' is not defined(-2)
ex5 - Incomplete function (-6)
ex6- not attempted
ex7- not attempted
ex8- not attempted
ex9- not attempted
ex10- not attempted
ex11 - not attempted",,"q2- Right logic but not commented well, comment out the lines properly (-2)


"ex3 attempted no solution, 5c missing(-7)","ex3 - should have taken list of numbers as in q2  -2
ex4 - attempt, wrong solution(should include 1 as divisor) -2
ex6 - should have given True for the palindrome string -2
ex7 - no solution -5
ex8 - sequence should have started from 1 as given in the question -2
ex9 - no solution -5
ex10 - no solution -5
","ex2 - returns 1 instead of 0 for ""no_winner"" (-2)
ex3 - gives Index Error, function incomplete (-5)
ex4-not attempted
ex5-not attempted
ex6-not attempted
ex7-not attempted
ex8-not attempted
ex9- not attempted
ex10-not attempted
ex11 - not attempted","ex7 -not attempted
ex8- not attempted
ex9- not attempted","q1a - You had to return just the string ""Alabama"" and not the whole list (-2)
q3b - not attempted(-12.5)
q4a,q4b - only flush function attempted(-7)


completed,"ex8 - Sequence should have started from 1 as given in the question -2
ex10 - invalid response -2
ex8,ex5,ex7,ex10 - solution exactly same as Will Anderson(git commit 13days ago)","ex5 - does not return True or False(-2)
ex9 - game not implemented (-5)
ex10 - game not implemented, only board created (-5)
solution matches with another student Will Anderson",,"q1a - return just the string, not in list format(-2)
q1b - throwing valueerror (-3)
q2 - its  two 1-dimensional list multiplication and what you did is multiplication of 2d matrix (-15)
q3b- not correct, gives NameError(-6)
q4a - string in hand is not working for any of the functions (-6)


ex 5c missing(-5),"ex3 - incomplete function -3
ex10 - incomplete function -3","ex7- not attempted
ex8- not attempted
ex9- not attempted
ex10- not attempted
ex11 - not attempted",,q4b - pair() is not working properly for few test cases. (-2),,,,

In [25]:
df = pd.read_csv("Data-1401-Grades-Fixed.csv")
df

,Lab 1,Lab 2,Lab 3,Lab 4,Exam 1,Lab 5,Unnamed: 6,Lab 7,Exam 2
0,NaN,0,0,NaN,0,0.0,0.0,0.0,0.0
1,no solution,no solution,-did not submit the Lab,NaN,did not submit the exam,NaN,NaN,NaN,NaN
2,100,96,46,NaN,68-sent,NaN,NaN,NaN,NaN
3,Completed the lab,"ex4- attempted,wrong solution -2\nex8 -wrong s...",ex1 - Nameerror get_size() is not defined(-2)\...,NaN,q1c - does not return the list instead returns...,NaN,NaN,NaN,NaN
4,100,100,90,NaN,88-sent,NaN,NaN,NaN,NaN
5,Completed the lab,Completed the whole lab\n,ex10 - not attempted (-10)\nex11 - not attempted,ex8-not attempted\nex9- not attempted,note - try to use better variable names\nq3b -...,NaN,NaN,NaN,NaN
6,93,100,24,NaN,96-sent,NaN,NaN,NaN,NaN
7,"ex4 - attempted, wrong answer(-2)\nex5c - not ...",Completed the whole lab,"ex2 - returns 1 for winner_2, returns 1 for no...",NaN,note- try not to use names which are built-in ...,NaN,NaN,NaN,NaN
8,0,81,0,0,43-sent,NaN,NaN,NaN,NaN
9,no solution,ex2-attempted(empty list) -2\nex3 - no solutio...,- did not submit the lab,-did not submit the lab,q1b - returns the index 0 instead of 23 as men...,NaN,NaN,NaN,NaN
10,95,100,105,NaN,96-sent,NaN,NaN,NaN,NaN
11,-ex5c missing(-5),Completed the whole lab,ex5 - does not draw board (-5)\nex11 - +10,NaN,"q4b - Implementation correct , gives NameError...",NaN,NaN,NaN,NaN
12,100,98,87,NaN,89-sent,NaN,NaN,NaN,NaN
13,completed the lab,"ex10 - attempted, solution wrong(nameerror-gue...",ex2 - flips for condition 'also_no_winner' ret...,NaN,q3a - did not print the result(-2)\nq3b- solut...,NaN,NaN,NaN,NaN
14,95,98,50,NaN,52,NaN,NaN,NaN,NaN
15,-ex5c missing(-5),"ex8 - wrong solution, sequence should be 1,1,....","ex1 - works for only 1 condition, does not ret...",NaN,"q1a,q1b,q1c - incomplete function. Does not ha...",NaN,NaN,NaN,NaN
16,95,96,98,NaN,100-sent,NaN,NaN,NaN,NaN
17,-ex5c missing(-5),ex8 - should start from 1 as given in the ques...,ex5 - does not return True or False(-2)\nex11 ...,NaN,excellent,NaN,NaN,NaN,NaN
18,0,78,37,NaN,67,NaN,NaN,NaN,NaN
19,no solution,ex1 - 1 function(odd) missing -2\nex2 - no sol...,"ex1 - Nameerror ""game_board"" not defined (-2)\...",NaN,-Late submission -10\nq1b - Nameerror (-3)\nq...,NaN,NaN,NaN,NaN
20,0,76,NaN,NaN,0,NaN,NaN,NaN,NaN
21,no solution,ex1 - syntax error -2\nex3 - wrong solution -2...,NaN,NaN,-did not submit the exam,NaN,NaN,NaN,NaN
22,95,89,0,0,66-sent,NaN,NaN,NaN,NaN
23,ex 5c missing(-5),ex7 - condition not working on rock and scisso...,-did not submit the Lab,-did not submit the Lab,q2- should not be using numpy(built in functio...,NaN,NaN,NaN,NaN
24,98,94,35,NaN,96-sent,NaN,NaN,NaN,NaN
25,ex 4 attempted but not correct(-2),ex3 - wrong solution(attempted) -2\nex4 - wron...,"ex2 - does not return -1, 0, 1, or 2 , return...",NaN,"q2- Right logic but not commented well, commen...",NaN,NaN,NaN,NaN
26,93,77,23,NaN,64-sent,NaN,NaN,NaN,NaN
27,"ex3 attempted no solution, 5c missing(-7)",ex3 - should have taken list of numbers as in ...,"ex2 - returns 1 instead of 0 for ""no_winner"" (...",ex7 -not attempted\nex8- not attempted\nex9- n...,"q1a - You had to return just the string ""Alaba...",NaN,NaN,NaN,NaN
28,100,96,88,NaN,64-sent,NaN,NaN,NaN,NaN
29,completed,ex8 - Sequence should have started from 1 as g...,ex5 - does not return True or False(-2)\nex9 -...,NaN,"q1a - return just the string, not in list form...",NaN,NaN,NaN,NaN
30,95,94,60,NaN,98-sent,NaN,NaN,NaN,NaN
31,ex 5c missing(-5),ex3 - incomplete function -3\nex10 - incomplet...,ex7- not attempted\nex8- not attempted\nex9- n...,NaN,q4b - pair() is not working properly for few t...,NaN,NaN,NaN,NaN

In [26]:
mask=list()
for i in range(16):
    mask.append(True)
    mask.append(False)

df_0=df[mask]
df_0

   Lab 1 Lab 2 Lab 3 Lab 4    Exam 1  Lab 5  Unnamed: 6  Lab 7  Exam 2
0    NaN     0     0   NaN         0    0.0         0.0    0.0     0.0
2    100    96    46   NaN   68-sent    NaN         NaN    NaN     NaN
4    100   100    90   NaN   88-sent    NaN         NaN    NaN     NaN
6     93   100    24   NaN   96-sent    NaN         NaN    NaN     NaN
8      0    81     0     0   43-sent    NaN         NaN    NaN     NaN
10    95   100   105   NaN   96-sent    NaN         NaN    NaN     NaN
12   100    98    87   NaN   89-sent    NaN         NaN    NaN     NaN
14    95    98    50   NaN        52    NaN         NaN    NaN     NaN
16    95    96    98   NaN  100-sent    NaN         NaN    NaN     NaN
18     0    78    37   NaN        67    NaN         NaN    NaN     NaN
20     0    76   NaN   NaN         0    NaN         NaN    NaN     NaN
22    95    89     0     0   66-sent    NaN         NaN    NaN     NaN
24    98    94    35   NaN   96-sent    NaN         NaN    NaN     NaN
26    93    77    23   NaN   64-sent    NaN         NaN    NaN     NaN
28   100    96    88   NaN   64-sent    NaN         NaN    NaN     NaN
30    95    94    60   NaN   98-sent    NaN         NaN    NaN     NaN

In [27]:
class base:
    def __init__(self,name):
        self.__name=name

    def name(self):
        return self.__name
    

class data(base):
    def __init__(self,name):
        base.__init__(self,name)
        
class alg(base):
    def __init__(self,name):
        base.__init__(self,name)

In [28]:
class grade(data):
    # These members are shared with all classes of the same type and doesn't belong to any specific instance.
    __letter_grades=["F-","F","F+","D-","D","D+","C-","C","C+","B-","B","B+","A-","A","A+"]
    
    def __init__(self,name,numerical=True,value=None):
        # These members belong to the instances of classes and not shared. 
        # Note all data members are private so we'll have to build accessors to change and see their values.
        self.__value=value
        self.__numerical=numerical
        self.__gradebook_name=str()
        
        if value:
            if isinstance(value,(int,float)):
                self.__numerical=True
            elif isinstance(value,str):
                self.__numerical=False
            self.set(value)
        else:            
            self.__numerical=numerical
            
        self.__gradebook_name=name
        data.__init__(self, name+" Grade Data Object")        

    # Setter: 
    def set(self,value):
        if isinstance(value,(int,float)) and self.__numerical:
            self.__value=value
        elif isinstance(value,str) and not self.__numerical:
            if value in self.__letter_grades:
                self.__value=value
        else:
            print( self.name()+" Error: Bad Grade.")
            raise Exception

    # Accessors
    def value(self):
        return self.__value
    
    def numerical(self):
        return self.__numerical
    
    def gradebook_name(self):
        return self.__gradebook_name
    
    def __str__(self):
        return self.__gradebook_name+": "+str(self.__value)

In [29]:
class student(data):
    
    def __init__(self, first_name, last_name, id_number):
        self.__grades=dict()
        self.__id_number=id_number
        self.__first_name, self.__last_name = first_name, last_name
        data.__init__(self,first_name+" "+last_name+" Student Data")

    def add_grade(self,a_grade,overwrite=False):
        if overwrite or not a_grade.gradebook_name() in self.__grades:
            self.__grades[a_grade.gradebook_name()]=a_grade
        else:
            print (self.name()+" Error Adding Grade "+a_grade.name()+". Grade already exists.")
            raise Exception

    def id_number(self):
        return self.__id_number
    
    def __getitem__(self,key):
        return self.__grades[key]
    
    def print_grades(self):
        for grade in self.__grades:
            print (self.__grades[grade])

In [30]:
a_student=student("John","Doe",111)

a_student.add_grade(grade("Exam 1",value=95))
a_student.add_grade(grade("Exam 1 Letter",value="A"))

a_student.print_grades()

Exam 1: 95
Exam 1 Letter: A

In [31]:
class grade_calculator(alg):    
    def __init__(self,name,stats):
        self.__stats=stats
        alg.__init__(self,name)

    def apply(self,a_grade):
        raise NotImplementedError
        
class curved_letter_grade(grade_calculator):
    __grades_definition=[ (.97,"A+"),
                          (.93,"A"),
                          (.9,"A-"),
                          (.87,"B+"),
                          (.83,"B"),
                          (.8,"B-"),
                          (.77,"C+"),
                          (.73,"C"),
                          (.7,"C-"),
                          (.67,"C+"),
                          (.63,"C"),
                          (.6,"C-"),
                          (.57,"F+"),
                          (.53,"F"),
                          (0.,"F-")]
    __max_grade=100.
    __grade_name=str()
    
    def __init__(self, grade_name, mean, std, max_grade=100.):
        self.__max_grade=max_grade
        self.__mean=mean
        self.__std=std
        self.__grade_name=grade_name
        grade_calculator.__init__(self,
                                  "Curved Percent Based Grade Calculator "+self.__grade_name+ \
                                  " Mean="+str(self.__mean)+\
                                  " STD="+str(self.__std)+\
                                  " Max="+str(self.__max_grade),
                                   False)
        

    def apply(self,a_grade):
        if not isinstance(a_grade,grade):
            print (self.name()+ " Error: Did not get an proper grade as input.")
            raise Exception
        if not a_grade.numerical():
            print (self.name()+ " Error: Did not get a numerical grade as input.")
            raise Exception
    
        # Rescale the grade
        percent=a_grade.value()/self.__max_grade
        shift_to_zero=percent-(self.__mean/self.__max_grade)
        scale_std=0.1*shift_to_zero/(self.__std/self.__max_grade)
        scaled_percent=scale_std+0.8
        
        for i,v in enumerate(self.__grades_definition):
            if scaled_percent>=v[0]:
                break
                            
        return grade(self.__grade_name,value=self.__grades_definition[i][1])

In [32]:
a_grader=uncurved_letter_grade_percent(grade_name="Exam 1 Test Grade")
out = a_grader.apply(a_student["Exam 1"])
print(type(out))
print(out)

<class '__main__.grade'>
Exam 1 Test Grade: A

In [33]:
import math

class statistics_calculator(alg):    
    def __init__(self,name):
        alg.__init__(self,name)

    def apply(self,grades):
        raise NotImplementedError
        
class mean_std_calculator(statistics_calculator):
    def __init__(self):
        statistics_calculator.__init__(self,"Mean and Standard Deviation Calculator")
        
    def apply(self,grades):
        return np.mean(grades),math.sqrt(np.var(grades))

In [34]:
class summary_calculator(alg):    
    def __init__(self,name):
        alg.__init__(self,name)

    def apply(self,a_student):
        raise NotImplementedError
        
class grade_summer(summary_calculator):
    def __init__(self,prefix,n):
        self.__prefix=prefix
        self.__n=n
        statistics_calculator.__init__(self,"Sum Grades")
        
    def apply(self,a_student):
        labels=[prefix+str(x) for x in range(1,n)]
        
        grade_sum=0.
        for label in labels:
            grade_sum+=a_student[label]
            
        a_student.add_grade(grade(prefix+"sum",value=grade_sum))

In [35]:
class grade_book(data):
    
    def __init__(self,name):
        data.__init__(self,name+" Course Grade Book")
        self.__students=dict()
    
    def add_student(self,a_student):
        self.__students[a_student.id_number()]=a_student
        
    def assign_grade(self,key,a_grade):
        the_student=None
        try:
            the_student=self.__students[key]
        except:
            for id in self.__students:
                if key == self.__students[id].name():
                    the_student=self.__students[id]
                    break
        if the_student:
            the_student.add_grade(a_grade)
        else:
            print (self.name()+" Error: Did not find student.")
            
    def apply_grader(self,a_grader,grade_name):
        for k,a_student in self.__students.items():
            a_student.add_grade(a_grader.apply(a_student[grade_name]))
            
    def apply_stats(self,a_stat_comp,grade_name):
        grades=list()
        for k,a_student in self.__students.items():
            grades.append(a_student[grade_name].value())
            
        return a_stat_comp.apply(grades)
        
    def print(self):
        for id,student in self.__students.items():
            print("------------------------------------")
            print("Student:",id)
            print("------------------------------------")
            student.print_grades()

In [36]:
a_grade_book=grade_book("Data 1401")

for student_i in range(df_0.shape[0]):
    a_student_0=student("Student",str(student_i),student_i)

    for k in df_0.keys():
        a_student_0.add_grade(grade(k,value=df_0[k].tolist()[student_i]))

    a_grade_book.add_student(a_student_0)

In [37]:
a_grade_book.apply_stats(mean_std_calculator(),"Exam 1 Fixed")
a_grade_book.apply_grader(curved_letter_grade("Exam 1 Letter Grade",68.,31.,max_grade=100.), "Exam 1 Fixed")

KeyError: 'Exam 1 Fixed'

In [38]:
a_grade_book.print()

------------------------------------
Student: 0
------------------------------------
Lab 1: nan
Lab 2: 0
Lab 3: 0
Lab 4: nan
Exam 1: 0
Lab 5: 0.0
Unnamed: 6: 0.0
Lab 7: 0.0
Exam 2: 0.0
------------------------------------
Student: 1
------------------------------------
Lab 1: 100
Lab 2: 96
Lab 3: 46
Lab 4: nan
Exam 1: 68-sent
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 2
------------------------------------
Lab 1: 100
Lab 2: 100
Lab 3: 90
Lab 4: nan
Exam 1: 88-sent
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 3
------------------------------------
Lab 1: 93
Lab 2: 100
Lab 3: 24
Lab 4: nan
Exam 1: 96-sent
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 4
------------------------------------
Lab 1: 0
Lab 2: 81
Lab 3: 0
Lab 4: 0
Exam 1: 43-sent
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 5
------------------------------------
Lab 1: 95
Lab 2: 100
Lab 3: 105
Lab 4: nan
Exam 1: 96-sent
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 6
------------------------------------
Lab 1: 100
Lab 2: 98
Lab 3: 87
Lab 4: nan
Exam 1: 89-sent
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 7
------------------------------------
Lab 1: 95
Lab 2: 98
Lab 3: 50
Lab 4: nan
Exam 1: 52
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 8
------------------------------------
Lab 1: 95
Lab 2: 96
Lab 3: 98
Lab 4: nan
Exam 1: 100-sent
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 9
------------------------------------
Lab 1: 0
Lab 2: 78
Lab 3: 37
Lab 4: nan
Exam 1: 67
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 10
------------------------------------
Lab 1: 0
Lab 2: 76
Lab 3: nan
Lab 4: nan
Exam 1: 0
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 11
------------------------------------
Lab 1: 95
Lab 2: 89
Lab 3: 0
Lab 4: 0
Exam 1: 66-sent
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 12
------------------------------------
Lab 1: 98
Lab 2: 94
Lab 3: 35
Lab 4: nan
Exam 1: 96-sent
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 13
------------------------------------
Lab 1: 93
Lab 2: 77
Lab 3: 23
Lab 4: nan
Exam 1: 64-sent
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 14
------------------------------------
Lab 1: 100
Lab 2: 96
Lab 3: 88
Lab 4: nan
Exam 1: 64-sent
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan
------------------------------------
Student: 15
------------------------------------
Lab 1: 95
Lab 2: 94
Lab 3: 60
Lab 4: nan
Exam 1: 98-sent
Lab 5: nan
Unnamed: 6: nan
Lab 7: nan
Exam 2: nan